---
title: خطأ 404
breadcrumb:
  - { label: "الرئيسية", url: "/" }
  - { label: "حدث خطا ما", url: "/pages/404/" }
---
{% extends "../_includes/layouts/page.njk" %}
{% block pageContent %}
<h2>الصفحة غير موجودة</h2>
<p>عذراً، الصفحة التي تبحث عنها غير موجودة.</p>
{% endblock %}
