---
title: عن الاكاديمية
breadcrumb:
  - { label: "الرئيسية", url: "/" }
  - { label: "عن الاكاديمية", url: "/pages/about/" }
---
{% extends "../_includes/layouts/page.njk" %}
{% block pageContent %}
<h2>عن الموقع</h2>
<p>يهدف موقع ترتيل إلى نشر علوم القرآن الكريم وتسهيل الوصول إلى تلاواته وتفسيراته.</p>
{% endblock %}
